.times {
    min-width: 120px;
    text-align: center;

    & > span {
        display: inline-block;
        margin: 0;
        min-width: 75px;
        font-style: italic;
        font-size: var(--base-font-size-middle);
    }

    & > span:nth-child(2) {
        min-width: 32px;
        margin: 0 8px;
    }
}

.divider {
    border: 1px solid var(--color-charcoal);
    width: 30px;
    transform: translateY(-4px);
}
