.container {
  background: var(--period-background-color);
  padding: 12px;
  grid-row: 2;
  border-radius: 4px;
}

.content {
  border-radius: var(--base-border-radius);
  display: flex;
  justify-content: space-between;
}

.name {
  margin: var(--base-gap);
  font-size: var(--base-font-size-large);
}

.timeline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.descriptions {
  margin: 12px;
  font-size: 20px;
}
