.skill {
  display: flex;
  align-items: center;
  font-size: var(--base-font-size-middle);

  & > div {
    min-width: 60px;
    margin: 0 8px;
  }

  & > div:nth-child(2) {
    min-width: 140px;
  }
}

.subTitle {
  font-size: var(--base-font-size-small);
  margin-left: var(--base-gap-unit);
  font-style: italic;
}
