.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > h1 {
  flex: 1 1 auto;
}

.basicInfo {
  text-align: left;
  max-width: 680px;
  margin-right: 6px;
}

.basicInfoItem {
  display: flex;
  font-size: var(--base-font-size-middle);

  & > div:nth-child(1) {
    margin: 2px 6px;
    font-weight: bold;
    min-width: 120px;
  }

  & > div:nth-child(2) {
    margin: 2px 6px;
    font-style: italic;
    max-width: 300px;
    word-break: break-all;
  }

  @media screen and (max-width: 414px) {
    font-size: var(--base-font-size-small);
  }
}

.links {
  display: flex;
  font-size: var(--base-font-size-middle);
  max-width: 300px;

  & > div {
    margin: 2px 6px;
    //font-weight: bold;
    min-width: 70px;
  }
}