.tag {
  display: inline-block;
  border-radius: var(--base-border-radius);
  margin: var(--base-gap-unit) var(--base-gap-2-unit);
  padding: var(--base-gap-unit) var(--base-gap-2-unit);
}

.filled {

  background: var(--tag-fill);
  border: 1px solid var(--tag-fill);
  color: var(--tag-color);

}

.normal {
  border: 1px solid var(--tag-fill);
  background: var(--tag-color);
  color: var(--tag-fill);
}

.less {
  color: var(--tag-fill);
  font-style: italic;
}
